/* Общий фон */
.root-pane {
    -fx-background-color: linear-gradient(to bottom right, #0d0d1a, #12122b);
}

/* Верхняя панель */
.top-bar-container {
    -fx-padding: 30 0 0 0;
    -fx-alignment: center;
}

.top-bar {
    -fx-padding: 20 30;
    -fx-pref-width: 1454px; /* Фиксированная ширина */
    -fx-border-color: #0F0E1B;
    -fx-opacity: 0.8;
    -fx-border-width: 1;
    -fx-border-radius: 20;
    -fx-alignment: center-left;
    -fx-background-color: #0F0E1B;
}

.app-title {
    -fx-text-fill: linear-gradient(to right, #37CDFF 0%, #9550DE 100%);
    -fx-font-size: 22px;
}

.app-subtitle {
    -fx-text-fill: #8f8f9f;
    -fx-font-size: 14px;
}

.camera-status {
    -fx-text-fill: #8f8f9f;
    -fx-font-size: 14;
}

/* Центральная часть */
.center-area {
    -fx-padding: 40 20 20 40;
    -fx-spacing: 20;
}

/* Левая панель */
.status-panel {
    -fx-spacing: 20;
    -fx-background-color: #0F0E1B;
    -fx-padding: 15;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 10, 0.2, 0, 0);
    -fx-pref-width: 420;
    -fx-max-height: 570;
    -fx-border-color: #353535;
    -fx-border-width: 1;
    -fx-opacity: 0.8;
}

/* Подписи */
.section-title {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.info-box {
    -fx-padding: 10;
    -fx-background-color: rgba(255,255,255,0.05);
    -fx-background-radius: 12;
}

.info-label {
    -fx-text-fill: #9ea0ff;
    -fx-font-size: 13px;
}

.info-value {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

/* Кнопка паузы */
.pause-button {
    -fx-background-radius: 20;
    -fx-background-color: rgba(255,255,255,0.08);
    -fx-text-fill: white;
}

/* Контейнер камеры */
.camera-container {
    -fx-background-color: #0F0E1B;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-max-height: 570;
    -fx-pref-width: 1010;
}

.bottom-bar-container {
    -fx-alignment: center;
    -fx-padding: 0 0 38 0;
}

/* Кнопки */
.primary-button {
    -fx-background-color: linear-gradient(to right, #1CD2FF, #A659F7);
    -fx-background-radius: 55;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(111,91,255,0.5), 10, 0.3, 0, 0);
    -fx-min-width: 300;
    -fx-min-height: 65;
    -fx-font-size: 18;
}

.primary-button:hover {
    -fx-opacity: 0.85;
}

.secondary-button {
    -fx-background-color: rgba(255,255,255,0.1);
    -fx-background-radius: 25;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-min-height: 65;
    -fx-min-width: 160;
    -fx-font-size: 18;
}

.secondary-button:hover {
    -fx-background-color: rgba(255,255,255,0.2);
}
